.user-login-wrapper {
    width: 400px;
    background-color: #CCC;
    padding: 30px;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #A5A5A5;
}

.user-login-wrapper input {
	border: 1px solid #CCC;
	width: 100%;
	padding: 10px 14px;

     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
	 box-sizing: border-box;
}