.user-login-wrapper {
    width: 400px;
    background-color: #CCC;
    padding: 30px;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #A5A5A5;

     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

.user-login-wrapper.logged-in {
    border-radius: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 10px 20px;
}

.user-login-wrapper input {
	border: 1px solid #CCC;
	width: 100%;
	padding: 10px 14px;

  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
*/

.user-login-wrapper.logged-animation {
  animation: stretch-to-top 1.2s 1 forwards ease-in-out;
}

.user-login-wrapper.logged-animation input {
    border: none;
    background-color: transparent;
    padding: 0 14px;
    font-size: 1.1em;
    pointer-events: none;

    transition: background 0.2s ease, 
                padding 0.8s linear, 
                border 0.8s linear;
}

@keyframes stretch-to-top {
  50% {
    margin-top: 0;
  }
  100% {
    border-radius: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 10px 20px;
  }
}

