.slide-wrapper {
    width: 80%;
    margin: 20px auto;
    background-color: #FFF;
    padding: 40px;
}

.presentation-title input {
	width: 300px;
}

.slide-title input{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.slide-content textarea {
    width: 100%;
    max-width: 100%;
    font-size: 1.3em;
    padding: 10px;
}