.slides-list-container {
    width: 20%;
    padding: 20px;
    background-color: #FFF;
    margin-right: 5%;
    box-sizing: border-box;
}

.slide-form-container {
    width: 70%;
    background-color: #FFF;
    padding: 40px;
    box-sizing: border-box;
}

.presentation-title input {
	width: 300px;
}

.presentation-item .title {
    font-size: 1.2em;
    display: block;
}

.presentation-item .author {
    margin-top: 0.3em;
    display: block;
}

.slide-title input{
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.slide-content textarea {
    width: 100%;
    max-width: 100%;
    font-size: 1.3em;
    padding: 10px;
}

.presentation-item {
    margin-right: 20px;
    display: inline-block;
}

.presentation-link {
    display: inline-block;
    background: #FFF;
    padding: 20px;
    transition: background .1s;
}

.presentation-link:hover {
    background: #EAEAEA;
}

.slide-item {
    padding: 20px;
    border: 1px solid #CCC;
    margin-top: 10px;
    cursor: pointer;
}

.slide-item.active {
    border-color: #19BED6;
}